.advantages__title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 83px;
}

.advantages__item {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 83px;

  &:last-child {
    margin-bottom: 58px;
  }
}
