.catalog__list {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 31px;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
    gap: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 122px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 52px;
  }
}
