.contacts__container {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1150px;
    padding: 2px 50px 9px 225px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 95px;
  }
}

.contacts__wrap {
  padding: 0 30px;
  padding-bottom: 5px;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 50px;
    padding-top: 38px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 340px;
    padding: 0;
    margin: 0;
    padding-top: 128px;
    align-self: flex-start;
  }
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 36px;
  }
}

.contacts__list {
  color: $blacklight;
  font-size: 15px;
  line-height: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin: 0;
    justify-content: flex-start;
  }
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    &--mail {
      margin-bottom: 29px;
    }
  }
}

.contacts__specification {
  width: 76px;

  @media (min-width: $desktop-width) {
    width: 77px;
  }
}

.contacts__description {
  margin: 0;
  width: 150px;

  @media (min-width: $tablet-width) {
    width: 258px;
  }
}

.contacts__mail {
  color: $blacklight;
  border-bottom: 1px solid $green;

  @media (min-width: $tablet-width) {
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 7px;
  }

  &:hover {
    color: $greendark;
    border-bottom: 1px solid $greendark;
  }

  &:active {
    border-color: rgba(20, 144, 128, 0.1);
  }
}

.contacts__map {
  display: block;
  margin-bottom: 39px;

  @media (min-width: $desktop-width) {
    width: 527px;
    height: 457px;
    margin: 0;
    margin-bottom: 39px;
  }

  img {
    display: block;
    width: 100%;

    @media (min-width: $desktop-width) {
      width: 527px;
      height: 457px;
      margin-top: 93px;
    }
  }
}

.contacts__write {
  margin: 38px auto;
  display: block;
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 54px auto;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
