.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-right: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }
}

.copyright__link {
  margin-top: 5px;

  svg {
    fill: $green;
  }

  &:hover svg {
    fill: $footerehover;
  }

  &:active svg {
    fill: $footereactive;
  }
}
