.form__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    &--color {
      padding-top: 59px;
      padding-bottom: 67px;
    }

    &--name {
      padding-top: 62px;
      padding-bottom: 50px;
    }

    &--aboutme {
      padding-top: 61px;
      padding-bottom: 15px;
    }

    &--button {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 111px;
    padding-right: 100px;

    &--name {
      padding-top: 65px;
      padding-right: 225px;
    }

    &--aboutme {
      padding-top: 56px;
    }

    &--aboutme,
    &--textarea,
    &--button {
      padding-right: 225px;
    }
  }
}

.form__slogan {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 29px;
  color: $blacklight;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 81px;
    margin-top: 67px;
  }

  @media (min-width: $desktop-width) {
    width: 702px;
    margin-top: 112px;
    margin-left: 114px;
    margin-bottom: 78px;
  }
}

.form__field {
  margin-bottom: 32px;

  textarea {
    margin-top: -14px;
    padding: 15px;
    width: 100%;
    border: 2px solid $black;
    resize: none;
    outline: none;
    font-size: 17px;
    line-height: 18px;


    &:hover {
      outline: none;
      border-color: $green;
    }
  }

  &--textarea {
    margin-bottom: 11px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;

    textarea {
      margin-top: 0;
      font-size: 19px;
    }

    &--background {
      background-color: $grey;
    }

    &--textarea {
      display: flex;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    &--textarea {
      margin-top: 49px;
      margin-bottom: 46px;
    }
  }
}

.form__legend {
  font-size: 17px;
  line-height: 16px;
  color: $green;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 35px;
  display: block;

  &--color {
    padding-top: 9px;
  }

  &--name {
    margin-bottom: 30px;
  }

  input {
    padding: 17px 0;
    border: none;
    border-bottom: 2px solid $black;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    margin-right: 206px;

    &--color {
      margin-right: 200px;
    }

    &--name {
      margin-right: 125px;
      padding-top: 5px;
    }

    &--textarea {
      margin-top: 18px;
      margin-right: 128px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 153px;

    &--color {
      margin-right: 146px;
    }

    &--name {
      margin-right: 74px;
    }

    &--textarea {
      margin-right: 76px;
    }
  }
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    &--color {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 58px;
      column-gap: 135px;
      margin-top: 9px;
    }

    &--name {
      flex-grow: 1;
      padding-top: 2px;
    }

    &--aboutme {
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    &--color {
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 57px;
      column-gap: 137px;
    }

    &--name {
      padding-top: 0;
    }
  }
}

.form__item {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  &--radio {
    margin-bottom: 26px;
    margin-left: 56px;
  }

  &--check {
    margin-bottom: 43px;
  }

  &--name {
    margin-bottom: 23px;

    input {
      padding: 14px 0;
      padding-bottom: 17px;
      border: none;
      border-bottom: 2px solid $black;
      width: 100%;
      font-weight: normal;
      outline: none;
    }

    input:hover {
      border-color: $green;
    }
  }

  &--aboutme {
    color: $green;
    margin-bottom: 36px;
    text-transform: uppercase;
    position: relative;

    svg {
      position: absolute;
      top: 25px;
      right: 7px;
      opacity: 0.3;
    }

    input {
      padding: 0;
      padding-top: 17px;
      padding-bottom: 18px;
      font-weight: normal;
      border: none;
      border-bottom: 2px solid $black;
      width: 100%;
      color: $black;
      outline: none;
      background-color: $wight;
    }

    input:hover {
      border-color: $green;
    }

    input:hover + svg {
      opacity: 1;
      fill: $greendark;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;

    &--radio {
      margin-bottom: 58px;
      margin-left: 0;

      &:last-child {
        margin-bottom: 65px;
      }
    }

    &--check {
      margin: 0;
    }

    &--name {
      margin-bottom: 40px;
      display: flex;

      input {
        padding-top: 0;
        padding-left: 18px;
        padding-bottom: 9px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--aboutme {
      display: flex;
      font-size: 17px;
      margin-bottom: 36px;

      svg {
        top: -9px;
        right: 25px;
      }

      input {
        padding-top: 0;
        padding-left: 18px;
        background-color: $grey;
        font-size: 19px;
        padding-bottom: 12px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--name {
      input {
        padding-bottom: 9px;
      }
    }

    &--aboutme {
      svg {
        top: -3px;
        right: 7px;
      }

      input {
        padding-bottom: 15px;
      }
    }
  }
}

.form__label {
  position: relative;

  @media (min-width: $tablet-width) {
    &--name {
      margin-right: 25px;
    }

    &--aboutme {
      margin-right: 93px;
      width: 100px;
      padding-top: 4px;
    }
  }

  @media (min-width: $desktop-width) {
    &--aboutme {
      margin-right: 28px;
      padding-top: 8px;
    }
  }
}

.form-check__input {
  appearance: none;

  &:checked + .form-check__disk::before {
    opacity: 1;
  }

  &:hover + .form-check__check::before,
  &:focus + .form-check__check::before {
    border-color: $green;
  }

  &:active + .form-check__check::before {
    border-color: rgba(68, 68, 68, 0.3);
  }

  &:checked + .form-check__check::after {
    opacity: 1;
  }
}

.form-check__disk {
  position: absolute;
  left: -57px;
  top: -2px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid $blacklight;
  background-color: $wight;
  cursor: pointer;

  &--toys {
    top: -11px;
  }

  &::before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid $green;
    background-color: $green;
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &:hover {
    border-color: $green;
  }

  &:active {
    border-color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 52px;
    height: 52px;
    left: -74px;
    top: -14px;

    &::before {
      width: 23px;
      height: 23px;
      top: 13px;
      left: 13px;
    }
  }

  @media (min-width: $desktop-width) {
    left: -76px;
    top: -13px;
  }
}

.form-check__check {
  margin-left: 57px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: -61px;
    top: -9px;
    width: 38px;
    height: 38px;
    border: 2px solid $blacklight;
    background-color: transparent;
  }

  &::after {
    content: "";
    position: absolute;
    left: -52px;
    top: -2px;
    width: 23px;
    height: 23px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;

    &::before {
      left: -82px;
      top: -13px;
      width: 52px;
      height: 52px;
    }

    &::after {
      left: -71px;
      top: 3px;
      width: 31px;
      height: 23px;
    }
  }
}

.form__text {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: $blacklight;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.form__button {
  margin-bottom: 52px;
  font-size: 17px;
  background-color: $wight;
  border-color: $blacklight;


  @media (min-width: $tablet-width) {
    width: 230px;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 114px;
  }
}
