.form__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    &--color {
      padding-top: 66px;
      padding-bottom: 60px;
    }

    &--name {
      padding-top: 67px;
      padding-bottom: 50px;
    }

    &--aboutme {
      padding-top: 65px;
    }

    &--button {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 97px;
    padding-right: 225px;
  }
}

.form__slogan {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 29px;
  color: $blacklight;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 81px;
    margin-top: 66px;
  }

  @media (min-width: $desktop-width) {
    width: 702px;
    margin: 115px auto 80px auto;
  }
}

.form__field {
  margin-bottom: 33px;

  textarea {
    margin-top: 20px;
    padding: 17px;
    width: 100%;
    border: 2px solid $black;
    resize: none;
    outline: none;

    &:hover {
      outline: none;
      border-color: $green;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;

    textarea {
      margin-top: 0;
    }

    &--background {
      background-color: $grey;
    }

    &--textarea {
      display: flex;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 63px;
    }
  }
}

.form__legend {
  font-size: 17px;
  line-height: 16px;
  color: $green;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 35px;
  display: block;

  input {
    padding: 17px 0;
    border: none;
    border-bottom: 2px solid $black;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    margin-right: 181px;

    &--textarea {
      margin-top: 9px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 140px;
  }
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    &--color {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 60px;
      column-gap: 150px;
    }

    &--name {
      flex-grow: 1;
    }

    &--aboutme {
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    &--color {
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 57px;
      column-gap: 95px;
    }
  }
}

.form__item {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  &--radio {
    margin-bottom: 30px;
    margin-left: 60px;
  }

  &--check {
    margin-bottom: 45px;
  }

  // Помоему не совсем получилось наведение

  &--name {
    margin-bottom: 54px;

    input {
      padding: 17px 0;
      border: none;
      border-bottom: 2px solid $black;
      width: 100%;
      font-weight: normal;
      outline: none;
    }

    input:hover {
      border-color: $green;
    }
  }

  // Как сделать белый фон по стаилгайду

  &--aboutme {
    color: $green;
    margin-bottom: 35px;

    input {
      padding: 0;
      padding-top: 14px;
      padding-bottom: 20px;
      font-weight: normal;
      border: none;
      border-bottom: 2px solid $black;
      width: 100%;
      color: $black;
      outline: none;
      background-color: $wight;
    }

    input:hover {
      border-color: $green;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;

    &--radio {
      margin-bottom: 58px;
      margin-left: 0;
    }

    &--check {
      margin: 0;
    }

    &--name {
      margin-bottom: 40px;
      display: flex;

      input {
        padding-top: 0;
        padding-left: 18px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--aboutme {
      display: flex;

      input {
        padding-top: 0;
        padding-left: 18px;
        background-color: $grey;
      }
    }
  }
}

.form__label {
  position: relative;

  @media (min-width: $tablet-width) {
    &--name {
      margin-right: 25px;
    }

    &--aboutme {
      margin-right: 160px;
      width: 100px;
    }
  }

  @media (min-width: $desktop-width) {
    &--aboutme {
      margin-right: 110px;
    }
  }
}

.form-check__input {
  appearance: none;

  &:checked + .form-check__disk::before {
    z-index: 2;
  }

  &:checked + .form-check__check::before {
    border-color: $green;
  }

  &:checked + .form-check__check::after {
    z-index: 2;
  }
}

.form-check__disk {
  position: absolute;
  left: -50px;
  top: -8px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid $blacklight;
  background-color: $wight;

  &::before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid $green;
    background-color: $green;
    z-index: -1;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 52px;
    height: 52px;
    left: -90px;
    top: -10px;

    &::before {
      width: 23px;
      height: 23px;
      top: 13px;
      left: 13px;
    }
  }
}

.form-check__check {
  margin-left: 62px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -60px;
    top: -8px;
    width: 38px;
    height: 38px;
    border: 2px solid $blacklight;
    background-color: $wight;
  }

  &::after {
    content: "";
    position: absolute;
    left: -52px;
    top: -2px;
    width: 23px;
    height: 23px;
    z-index: -1;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    margin: 0;

    &::before {
      left: -100px;
      top: -15px;
      width: 52px;
      height: 52px;
      border: 2px solid $blacklight;
      background-color: $wight;
    }

    &::after {
      left: -90px;
      top: 0;
      width: 31px;
      height: 23px;
    }
  }
}

.form__text {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: $blacklight;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-top: 15px;
  }
}

.form__button {
  margin-bottom: 55px;
  background-color: $wight;
  border-color: $blacklight;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 180px;
  }
}
