.offer-week {
  color: $blacklight;
  font-size: 15px;
  line-height: 24px;
}

.offer-week__wrapper {
  width: 260px;
  margin: 0 30px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 668px;
    margin: 0 50px;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin: 0 50px;
  }
}

.offer-week__name {
  color: $black;
  font-size: 25px;
  line-height: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.offer-week__slogan {
  color: $green;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    width: 100px;
  }

  @media (min-width: $desktop-width) {
    order: -1;
  }
}

.offer-week__text {
  @media (min-width: $tablet-width) {
    width: 292px;
    margin-right: 45px;
  }
}

.offer-week__stats {
  @media (min-width: $tablet-width) {
    width: 292px;
    margin-right: 45px;
  }
}

.offer-week__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    left: 334px;
    z-index: -1;
  }
}

.offer-week__price {
  margin-bottom: 25px;
}

.offer-week__buy {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    width: 292px;
    margin-right: 42px;
  }
}
