.offer-week {
  color: $blacklight;
}

.offer-week__container {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-top: 137px;
    padding-left: 82px;
  }
}

.offer-week__name {
  color: $black;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding-top: 34px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 60px;
    padding-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin: 0;
    padding: 0;
    margin-left: 43px;
    z-index: 2;
    margin-bottom: 36px;
  }
}

.offer-week__slogan {
  color: $green;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    width: 100px;
    line-height: 17px;
    margin-left: 127px;
    margin-top: 64px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    order: -1;
    margin: 0;
    padding-top: 9px;
  }
}

.offer-week__text {
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    width: 292px;
    margin-right: 45px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 143px;
    margin-right: 117px;
  }
}

.offer-week__stats {
  font-size: 15px;
  line-height: 20px;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 9px;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 292px;
    margin-right: 45px;
    margin-top: 29px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 143px;
    margin-top: 58px;
    row-gap: 5px;
    margin-bottom: 88px;
  }
}

.offer-week__item {
  display: flex;
  border-bottom: 1px solid $border;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 15px;
  }
}

.offer-week__specification {
  width: 97px;
}

.offer-week__description {
  margin: 0;
}

.offer-week__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    right: 50px;
    bottom: 70px;
    width: 334px;
    height: 404px;
  }

  @media (min-width: $desktop-width) {
    bottom: 71px;
    right: 50px;
    width: 525px;
    height: 636px;
  }
}

.offer-week__price {
  margin: 21px auto;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    width: 100%;
    padding-left: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 143px;
  }
}

.offer-week__buy {
  margin-bottom: 70px;

  @media (min-width: $tablet-width) {
    width: 292px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 143px;
  }
}
