.offer-week {
  color: $blacklight;
  font-size: 15px;
  line-height: 24px;
}

.offer-week__name {
  color: $black;
  font-size: 25px;
  line-height: 30px;
  margin-top: 31px;
  margin-bottom: 4px;
}

.offer-week__slogan {
  color: $green;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.offer-week__price {
  margin-bottom: 25px;
}

.offer-week__buy {
  margin-bottom: 36px;
}
