.page-main__title {
  font-size: 27px;
  line-height: 30px;
  padding: 71px 41px;
  margin: 0;
  background-color: $grey;
  border-top: 1px solid $border;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: -45px;
    padding-top: 115px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
