.page-body {
  font-family: "Open Sans", "Arial", sans-serif;
  color: $black;
  min-height: 100%;
  min-width: 320px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
