.product-made__container {
  margin-top: 33px;
  margin-bottom: 58px;
  padding: 0;
  border: 1px solid $border;
  width: 260px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    margin-top: 53px;
    margin-bottom: 63px;
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin-top: 57px;
    margin-bottom: 101px;
    padding-left: 681px;
    position: relative;
  }
}

.product-made__title {
  font-size: 17px;
  line-height: 24px;
  margin-top: 22px;
  margin-bottom: 26px;
  margin-left: 91px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 22px;
    left: -58px;
    top: 12px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin: 0;
    margin-bottom: 7px;
    margin-left: 107px;

    &::before {
      left: -67px;
      top: -3px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 178px;
    margin-left: 80px;
    margin-top: 96px;
    margin-bottom: 5px;

    &::before {
      left: 0;
      top: -51px;
    }
  }
}

.product-made__picture {
  @media (min-width: $tablet-width) {
    order: -2;
  }
}

.product-made__video {
  margin-bottom: 18px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 101px;
    height: 77px;
    left: 300px;
    top: 200px;
  }

  &:hover::before {
    transform: scale(1.2);
  }

  &:active::before {
    transform: scale(0.8);
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    order: -2;
    margin-bottom: 35px;
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    position: absolute;
    left: 1px;
    margin-bottom: 0;
  }
}

.product-made__text {
  font-size: 13px;
  line-height: 24px;
  color: $blacklight;
  margin-left: 34px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
    margin-left: 40px;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 252px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 80px;
  }
}

.product-made__order {
  width: 192px;
  margin-left: 34px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    width: 584px;
    margin-left: 43px;
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    margin-bottom: 59px;
    margin-left: 82px;
  }
}
