.product {
  width: auto;
  border: 1px solid $border;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-left: 334px;
    position: relative;
    min-height: 334px;
  }
}

.product__image {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    position: absolute;
    left: -334px;
  }
}

.product__text {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
  margin-bottom: 10px;
}

.product__description {
  font-size: 13px;
  line-height: 30px;
  color: $blacklight;
  margin-bottom: 41px;
}

.product__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}
