.promo {
  font-weight: bold;
  background-color: $greylight;
  padding-top: 73px;
  border-top: 1px solid $border;

  @media (min-width: $tablet-width) {
    margin-top: -45px;
    padding-top: 155px;
  }
}

.promo__container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.promo__title {
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 120px;
  text-align: center;
  width: 260px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.promo__item {
  padding-top: 24px;
  padding-right: 160px;
  padding-left: 30px;
  padding-bottom: 31px;
  color: $wight;
  font-size: 19px;
  line-height: 24px;
  display: block;
  width: 100%;

  &::before {
    position: absolute;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    right: 50px;
  }

  &:hover::before {
    opacity: 0.7;
  }

  &:active::before {
    opacity: 0.3;
  }

  &--interior {
    position: relative;
    background-color: $green;
  }

  &--interior::before {
    background-image: url("../../img/icon-interior.svg");
    width: 40px;
    height: 62px;
  }

  &--toys {
    position: relative;
    background-color: $greendark;
  }

  &--toys::before {
    background-image: url("../../img/icon-toy.svg");
    width: 60px;
    height: 60px;
    right: 40px;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    font-size: 20px;
    line-height: 30px;
    padding-left: 36px;
    padding-right: 200px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 360px;
  }
}
