.reviews__container {
  padding-top: 58px;

  @media (min-width: $tablet-width) {
    padding-top: 82px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-top: 90px;
    padding-left: 225px;
  }
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 35px;
  }
}

.reviews__item {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.reviews__author {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 47px;
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  &--name {
    font-weight: bold;
    font-style: normal;
    display: block;
    margin: 0;
  }

  &--mail {
    color: $blacklight;
  }
}

.reviews__togles {
  margin-bottom: 38px;
  border: 1px solid $border;
  height: 54px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 50px;
    bottom: 20px;
  }
}

.reviews__togl {
  padding: 0;
  border: none;
  background-color: $wight;
  width: 126px;
  height: 52px;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;

  &--back {
    border-right: 1px solid $border;
    transform: rotate(180deg);
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__write {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 50px;
  }
}
