.social__list {
  list-style: none;
  padding: 0;
  width: 142px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.social__link {
  &:hover svg {
    fill: $footerehover;
  }

  &:active svg {
    fill: $footereactive;
  }
}
